<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>User registration</h1>
<form role="form" method="post" th:action="@{/register/save}" th:object="${userForm}">

    <label>Full Name:</label>
    <input type="text" th:field="*{name}" />
    <br>

    <label>Email:</label>
    <input type="text" th:field="*{email}" />
    <br>

    <label>Password:</label>
    <input type="text" th:field="*{password}" />
    <br>

    <label>Gender:</label>
    <input type="radio" th:field="*{gender}" value="Male"/>Male
    <input type="radio" th:field="*{gender}" value="Female"/>Female
    <br>

    <label>Profession:</label>
    <select th:field="*{profession}">
        <option th:each="p : ${listProfession}" th:value="${p}" th:text="${p}"></option>
    </select>
    <br>

    <button type="submit">Register</button>
</form>
</body>
</html>